* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(-180deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Spacing variables
   ========================================================================== */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?w8c7eq");
  src: url("../fonts/icomoon.eot?w8c7eq#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?w8c7eq") format("truetype"), url("../fonts/icomoon.woff?w8c7eq") format("woff"), url("../fonts/icomoon.svg?w8c7eq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pane-ding-library-opening-hours-ding-library-opened-today {
  margin-bottom: 20px;
}

.contextual-links-region.pane-opening-hours-week {
  clear: both;
  float: none;
  position: relative;
  display: block;
}
.contextual-links-region.pane-opening-hours-week :after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.ding-library-opened-today .library,
.ding-library-opening-hours .day {
  overflow: hidden;
  display: block;
  padding: 6px !important;
}

.ding-library-opened-today .library .library-name,
.ding-library-opening-hours .day .day-name {
  display: block;
  float: left;
}

.ding-library-opened-today .library .hours,
.ding-library-opening-hours .day .hours {
  display: block;
  float: right;
  clear: right;
  text-align: right;
}

/**
 * Opening hours
 *
 * @author magnify, zorp
 */
/* Toggle opening hours
   ========================================================================== */
.opening-hours-toggle {
  padding-left: 20px;
  /* Media queries */
}
.opening-hours-toggle.js-opening-hours-not-available {
  display: none;
}
.opening-hours-toggle.js-collapsed {
  content: "\e909";
  font-family: 'icomoon';
}
.opening-hours-toggle.js-expanded {
  content: "\e90d";
  font-family: 'icomoon';
}
.opening-hours-toggle:hover {
  text-decoration: none;
}
.opening-hours-toggle:before {
  margin-right: 5px;
  font-family: "FaktPro-Normal", sans-serif;
}
@media screen and (max-width: 600px) {
  .opening-hours-toggle {
    display: inline;
    width: auto;
  }
}

.block-opening-hours .read-more {
  margin-left: 3px;
}

.opening-hours-week {
  padding: 20px;
  padding-top: 10px;
  background: #fff;
}
.opening-hours-week .header {
  font-family: "FaktPro-SemiBold", sans-serif;
  padding: 0;
  padding-bottom: 10px;
  background: #fff;
  color: #808285;
}
.opening-hours-week .days {
  padding: 0;
}
.opening-hours-week .days .day {
  padding: 6px;
}
.opening-hours-week .days .times {
  padding-right: 1em;
  margin-right: 0.5em;
}
.opening-hours-week .days .odd {
  background: #e5e5e5;
}
.opening-hours-week .days .even {
  background: #f1f2f2;
}
.opening-hours-week .prev,
.opening-hours-week .next {
  font-size: 100%;
  font-family: "FaktPro-Normal", sans-serif;
}
.opening-hours-week .prev:hover,
.opening-hours-week .next:hover {
  text-decoration: none;
}
.opening-hours-week .prev {
  float: left;
  margin-left: 5px;
}
.opening-hours-week .next {
  float: right;
  margin-right: 5px;
}
.opening-hours-week .notice-star {
  visibility: hidden;
  margin-right: -2em;
  padding-left: .5em;
}
.opening-hours-week .notice-star:before {
  visibility: visible;
  font-family: "FaktPro-Normal", sans-serif;
}

.pane-ding-library-opening-hours-ding-library-opened-today {
  background-color: #fff;
  padding: 10px;
}
.pane-ding-library-opening-hours-ding-library-opened-today ul {
  padding-left: 0;
}
.pane-ding-library-opening-hours-ding-library-opened-today ul .library {
  padding: 3px;
  background-color: #f1f2f2;
}
.pane-ding-library-opening-hours-ding-library-opened-today ul .library:nth-of-type(2n+2) {
  background-color: #e5e5e5;
}

.hours .icon-info:before {
  content: "\ea0c";
  font-family: 'icomoon';
}
.hours .day-notice-star {
  visibility: hidden;
  margin-right: .5em;
}
.hours .day-notice-star:before {
  visibility: visible;
  font-family: 'icomoon';
}
.hours .raw-notice {
  font-size: small;
  text-transform: uppercase;
  padding-right: 3px;
}

.layout-wrapper .pane-ding-library-opening-hours-ding-library-opened-today {
  background-color: transparent;
  padding: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .hours .day-notice-star {
    visibility: visible;
  }
}
