@import "../../../themes/ddbasic/sass/_base.scss";
@import "susy";

/* Spacing variables
   ========================================================================== */

  @font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?w8c7eq');
  src:  url('../fonts/icomoon.eot?w8c7eq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w8c7eq') format('truetype'),
    url('../fonts/icomoon.woff?w8c7eq') format('woff'),
    url('../fonts/icomoon.svg?w8c7eq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::after, [class*=" icon-"]::after,
[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$large-spacing:                   20px;
$medium-spacing:                  10px;
$small-spacing:                   5px;

$gray-transparent-bg:     rgba( 0, 0, 0, 0.7);
$font-size-reset:                 100%;

.contextual-links-region.pane-opening-hours-week {
  clear: both;
  float: none;
  position: relative;
  display: block;

  :after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.ding-library-opened-today .library,
.ding-library-opening-hours .day {
  overflow: hidden;
  display: block;
  padding: 6px !important;
}

.ding-library-opened-today .library .library-name,
.ding-library-opening-hours .day .day-name {
  display: block;
  float: left;
}

.ding-library-opened-today .library .hours,
.ding-library-opening-hours .day .hours {
  display: block;
  float: right;
  clear: right;
  text-align: right;
}

/**
 * Opening hours
 *
 * @author magnify, zorp
 */
/* Toggle opening hours
   ========================================================================== */

.opening-hours-toggle {
  padding-left: $large-spacing;

  &.js-opening-hours-not-available {
    display: none;
  }

  &.js-collapsed {
    content: "\e909";
    font-family: 'icomoon';
  }

  &.js-expanded {
    content: "\e90d";
    font-family: 'icomoon';
  }

  &:hover {
    text-decoration: none;
  }

  &:before {
    margin-right: $small-spacing;
    font-family: $font-family;
  }

  /* Media queries */
  @include media($mobile) {
    display: inline;
    width: auto;
  }
}


.block-opening-hours {
  .read-more {
    margin-left: 3px;
  }
}

.opening-hours-week {
  padding: $large-spacing;
  padding-top: $medium-spacing;
  background: $white;

  .header {
    font-family: $font-family-bold;
    padding: 0;
    padding-bottom: $medium-spacing;

    background: $white;
    color: $grey-dark;
  }

  .days {
    padding: 0;

    .day {
      padding: 6px;
    }

    .times {
      padding-right: 1em;
      margin-right: .5em
    }

    .odd {
      background: $grey;
    }

    .even {
      background: $grey-light;
    }
  }

  .prev,
  .next {
    font-size: $font-size-reset;
    font-family: $font-family;

    &:hover {
      text-decoration: none;
    }
  }

  .prev {
    float: left;
    margin-left: $small-spacing;
  }

  .next {
    float: right;
    margin-right: $small-spacing;
  }

  .notice-star {
    visibility: hidden;
    margin-right: -2em;
    padding-left: .5em;

    // Icon placement and font-face.
    &:before {
      visibility: visible;
      font-family: $font-family;
    }
  }
}

// Main widget
// ==========================================================================

.pane-ding-library-opening-hours-ding-library-opened-today {
  ul {
    padding-left: 0;

    .library {
      padding: 3px;
      background-color: $grey-light;

      &:nth-of-type(2n+2) {
        background-color: $grey;
      }
    }
  }
}

.hours {
  .icon-info:before {
    content: "\ea0c";
    font-family: 'icomoon';
  }

  .day-notice-star {
    visibility: hidden;
    margin-right: .5em;

    // Icon placement and font-face.
    &::before {
      visibility: visible;
      font-family: 'icomoon';
    }
  }

  .raw-notice {
    font-size: small;
    text-transform: uppercase;
    padding-right: 3px;
  }
}

.layout-wrapper .pane-ding-library-opening-hours-ding-library-opened-today {
  background-color: transparent;
  padding: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .hours {
    .day-notice-star {
      visibility: visible;
    }
  }
}

.pane-ding-library-opening-hours-ding-library-opened-today {
  #oh-tabs {
    border: none;
    border-radius: none;
    background: transparent;
  }

  .ui-widget {
    font-family: $font-family;
    font-size: inherit;
  }

  .ui-tabs-panel.ui-widget-content {
    border: 1px solid $grey;
    padding: 0;
  }

  .ui-widget-header {
    border: none;
    background: transparent;
    padding: 0;

    a {
      font-size: inherit;
      font-family: $font-family-bold;
      color: $color-standard-text;

      &:focus {
        outline: none;
      }
    }

    .ui-state-default {
      border: $grey 1px solid;
      border-bottom: none;
      background: transparent;
      padding-left: 0;
      margin: 0;
      width: 35%;

      a {
        white-space: nowrap;
        width: 9em;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      @include media($tablet) {
        width: auto;

        a {
          white-space: normal;
          width: auto;
          overflow: auto;
          text-overflow: unset;
        }
      }
    }

    .ui-tabs-active{
      border: $grey-light 1px solid;
      background: $white;
      width: auto;

      a {
        white-space: normal;
        width: auto;
        overflow: auto;
        text-overflow: unset;
      }
    }
  }

  h3 {
    font-size: inherit;
    display: inline-block;
    width: auto;
    font-family: $font-family;
    padding-left: 15px;
    margin: 0;

    a {
      color: $color-text-link;
    }
  }

  .oh-info {
    display: inline-block;
    width: auto;
    float: right;
    padding-right: 15px;

    .opening-hours-table-notice {
      font-size: 85%;
      color: $grey-dark;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: right;
      width: auto;
      overflow: hidden;
    }

    .oh-period {
      float: right;
      margin-left: 10px;
    }
  }

  .ui-tabs-panel.ui-widget-content {
    .oh-item {
      border-bottom: 1px dashed $grey;
      padding: 15px 0;
      overflow: auto;

      &:last-child {
        border: none;
      }
    }
  }

  .more-link {
    margin-top: 15px;
  }
}
